@using TeaShop.Presentation.Dtos.FaqDtos
@model List<ResultFaqDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h3>Sık Sorulan Sorular</h3>

@{
    int count = 0;
}
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Soru</th>
        <th>Cevap</th>
        <th></th>

    </tr>
    @foreach (var item in Model)
    {
        count++;

        <tr>
            <th>@count</th>
            <td>@item.Question</td>
            <td>
                @if (item.Answer.Length > 35)
                {
                    <div>@item.Answer.Substring(0, 35) ...</div>
                }
                else
                {
                    @item.Answer
                }
            </td>
            <td>
                <button onclick="deleteFaq(@item.FaqId)" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Sil</button>
                <a asp-action="UpdateFaq" asp-route-id="@item.FaqId" class="btn btn-outline-info"><i class="fas fa-pen"></i>Düzenle</a>
            </td>
        </tr>
    }
</table>
<br />
<a asp-action="CreateFaq" class="btn btn-dark"> <i class="fas fa-plus-circle"></i>  Yeni Soru Ekle</a>

<script>
    function deleteFaq(id) {
        Swal.fire({

            title: 'Silmek istediğinize emin misiniz?',
            text: 'Bu öğeyi silerseniz geri alamazsınız!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Admin/Faq/DeleteFaq?id=" + id; // Yönlendirilecek URL'yi buraya yazın
            }
        });
    }
</script>