@using TeaShop.Presentation.Dtos.DrinkDtos
@model List<ResultDrinkDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h3>İçecekler</h3>
@{
    int count = 0;
}
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>İçecek</th>
        <th>Fiyat</th>
        <th></th>

    </tr>
    @foreach (var item in Model)
    {
        count++;

        <tr>
            <th>@count</th>
            <td>@item.DrinkName</td>
            <td>@item.Price</td>
            <td>
                <button onclick="deletedrink(@item.DrinkId)" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Sil</button>
                <a asp-action="UpdateDrink" asp-route-id="@item.DrinkId" class="btn btn-outline-info"><i class="fas fa-pen"></i>Düzenle</a>
            </td>
        </tr>
    }
</table>
<br />
<a asp-action="CreateDrink" class="btn btn-dark"> <i class="fas fa-plus-circle"></i>  Yeni İçecek Ekle</a>


<script>
    function deletedrink(id) {
        Swal.fire({

            title: 'Silmek istediğinize emin misiniz?',
            text: 'Bu öğeyi silerseniz geri alamazsınız!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Admin/Drink/DeleteDrink?id=" + id; // Yönlendirilecek URL'yi buraya yazın
            }
        });
    }
</script>